<a href="https://colab.research.google.com/github/HeHeHuang/DataScientist/blob/main/Python_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This Turtorial help to have basic understanding of Python

### String

In [20]:
#reverse the string
str1 = 'to be or not to be'
str1[::-1]

'eb ot ton ro eb ot'

In [21]:
#take all s
str1 = 'sxtsxtsxtsxt'
str1[::3]

'ssss'

##### Split()
Split() based on the 分隔符 eg: space to split the string into list, if not mention, the default will be space

In [10]:
str2 = 'to be or not to be'
str2.split()
str2.split('be')

['to ', ' or not to ', '']

##### Join() 
connect all the string from  one list

In [11]:
myList2 = ['to','be','or','not','to','be']
"".join(myList2)

'tobeornottobe'

compare to '+" 


> join only create one time object, but 'a'+'b'+'c' will create three times

##### test the time performance between '+' and join()

In [33]:
import time
time01 = time.time()
str1=""
for i in range(100000):
  str1 +='sxt'
time02 = time.time()

print(  'time performance' +str(time02-time01 ))

0.021720170974731445

In [34]:
import time
time01 = time.time()
li = []
for i in range(100000):
  li.append('sxt')
a = "".join(li)  
time02 = time.time()

print(  time02-time01 )

0.018254756927490234

error: 'str' object is not callable

> the error is because the str is used to be variable, therefore it impact the str()

In [35]:
import time
time01 = time.time()
str1=""
for i in range(100000):
  str1 +='sxt'
time02 = time.time()

print(  'time performance' +str(time02-time01 ))

TypeError: ignored

##### string intern


> for some strig like _, letter and number, the string intern will not create new string.  it will refer to same object

In [36]:
# also can check by id()
a = 'abd_33'
b = 'abd_33'

a is b

True

In [37]:
c = 'dd#'
d = 'dd#'

c is d

False

In [38]:
myList3 = [1,2,3,4,5]
a = 1
a in myList3

True

#### find method for string

In [39]:
a = 'fdafadsfdasfasdfasfasdfdasfafa'
len(a)

30

In [40]:
a.startswith('f')

True

In [41]:
a.endswith('e')

False

In [42]:
a.find('a') # the index that find 'a' at first time

2

In [43]:
a.rfind('a') # the index that find 'a' at last time

29

In [44]:
a.count('a') # count how many time 'a' appear

9

##### remove the fisrt and last string strip()

In [49]:
b = ' txt '
c = '*txt*'
b

' txt '

In [47]:
b.strip()

'txt'

In [50]:
c.strip('*')

'txt'

In [52]:
c.lstrip('*') # l and r means left and right , remove the left first char

'txt*'

In [53]:
c.rstrip('*')

'*txt'

##### change Capital

In [57]:
e = "huanghe love programming, love HH"

In [59]:
e.capitalize()

'Huanghe love programming, love hh'

In [60]:
e.title()

'Huanghe Love Programming, Love Hh'

In [61]:
e.upper()

'HUANGHE LOVE PROGRAMMING, LOVE HH'

In [62]:
f = 'txt'

In [65]:
f.center(10,'*') # the total char is 10, put the 'txt' centre and fill other position by '*'

'***txt****'

In [68]:
f.center(10)

'   txt    '

In [69]:
f.rjust(10,'&')

'&&&&&&&txt'

In [70]:
f.ljust(10,'&')

'txt&&&&&&&'

##### format()

> {index} or {parameter name}  to reflect the value

In [71]:
a = 'name is {0}, age is {1}'
a.format("HH",18)

'name is HH, age is 18'

In [72]:
b= 'name is {name} , age is {age}'
b.format(name="HH",age = 18)

'name is HH , age is 18'

##### format () with fullfill other char


> centre ^, left: <, right:>,  one char behide :

In [73]:
 "name is {0:*^6}".format("HH")

'name is **HH**'

format () with number format/digital format

In [74]:
e = 'my age is {:.2f}'
e.format(31.16666)

'my age is 31.17'

##### io.StringIO(s)
by using this, the string is changable, no need to create ne wobject everytime

In [76]:
import io
a = 'hello, txt'
strio = io.StringIO(a)
strio.getvalue()

'hello, txt'

In [77]:
strio.seek(7)

7

In [78]:
strio.write('g')

1

In [79]:
strio.getvalue()

'hello, gxt'

#### 位运算

##Sequence 序列
in Memory, sequence is the continuous memory space which store the id 
eg: a = [10,20,30,40]
this list store the id of object (10,20,30,40) which is refer to each objects.and then the id of list will store in the variable a

## data structure

### list
list 是内置可变的序列，是包含多个元素的有序连续的内存空间

In [85]:
myList = [1,2,3]
print(id(myList))
for i in range(len(myList)):
  print(id(myList[i]))
  print(type(myList[i]))

140230512675408
11256064
<class 'int'>
11256096
<class 'int'>
11256128
<class 'int'>

#### List Creation


> 4 ways

In [86]:
a = [1,2,'str']

In [87]:
a = list()

In [89]:
b = list(range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
b1 = list("huanghe")
b1

['h', 'u', 'a', 'n', 'g', 'h', 'e']

In [93]:
#range(start,end,step)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [94]:
list(range(20,3,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4]

In [90]:
c = [x for x in range(10)]
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### add & remove item from list
5 ways

In [101]:
a = [20,40,60]
id(a)

140230512711232

In [102]:
a.append(80)
id(a)

140230512711232

append()

if insert item into middle of list, it will cause many item movement.

'+' create new list, put these two into new list

In [100]:
b = [20,40]
b = b+ [50]
b

[20, 40, 50]

append()

In [106]:
c= [10,20]
c.extend([30,40])
c

[10, 20, 30, 40]

insert()

In [107]:
e = [1,2,3,4,5,6]

In [108]:
e.insert(2,10)
e

[1, 2, 10, 3, 4, 5, 6]

multiple extend

In [109]:
f = [1,2,3]
g = f * 3 
g

[1, 2, 3, 1, 2, 3, 1, 2, 3]

##### list delete item

del()
**将后面的item copy到前面来**

In [110]:
a = [100,200,888,300,400]

In [111]:
del a[2]

In [112]:
a

[100, 200, 300, 400]

pop(): delete and return the object

In [113]:
a.pop()

400

In [114]:
a.pop(1)

200

In [117]:
a

[100, 300]

remove(): delete the item that first time appear. if the item is not existing, throw error

In [118]:
a.remove(100)

In [119]:
a.remove(50)

ValueError: ignored

##### list retrieve and count

by index

In [122]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
a[10]

IndexError: ignored

index(): return the first index of the specific item

In [125]:
a.index(7)

7

In [ ]:
a.index(20,3) # check 20 after index 3

In [132]:
b = [1,1,1,2,3,3,4,4,4,5,5,6]

In [135]:
b.index(3,5,8) # check 20 from range 5,7   [5,7]

5

In [127]:
a.count(3)

1

check whether inside list:

> in / not in

In [136]:
1 in b

True

##### slice:
list[start:end:step]

In [137]:
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
a[7:8]

[7]

In [139]:
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

##### list loop

In [140]:
for item in a:
  print(item)

0
1
2
3
4
5
6
7
8
9

##### ordering list

didn't change the original list

> sort()

In [3]:
#  change the original list
a = [10,20,30,12,13]
print(id(a))
a.sort()
print(a)
print(id(a))

140686213540192
[10, 12, 13, 20, 30]
140686213540192

In [6]:
a.sort(reverse=True)
a

[30, 20, 13, 12, 10]

random shuffle()

In [7]:
import random
random.shuffle(a)
a

[13, 20, 30, 12, 10]

return new list, didnt change original list

In [10]:
b= sorted(a)
b

[10, 12, 13, 20, 30]

reversed() return Iterator object

In [12]:
c = reversed(a)
c

In [13]:
list(c)

[10, 12, 30, 20, 13]

the iterator only can be used once. there is pointer stored and after pointer loop each item and pointer will point to null. this is reason why print didnt work and list(c) again, it return [] list

In [16]:
for item in c: 
  print(item)

In [17]:
list(c)

[]

max,min,sum

##### multidimensional list - 2Dlist

> How to know how many dimension fast? count the brucket [[[: 3 d
[[: 2d

In [20]:
a = [10,20,30,40]
b = [
     ['HH',32,8000,'FJ'],
     ['QQ',33,6000,'FJ'],
     ['LL',26,5000,'DB']
]

In [19]:
b[0][0]

'HH'

list store id of each list and this id of list store in variable

In [23]:
 for i in range(len(b)):
   for j in range(len(b[0])):
     print(b[i][j],end='\t')
   print() # after print one line, change line

HH	32	8000	FJ
QQ	33	6000	FJ
LL	26	5000	DB

#### Tuple

> Tuple can not be change, therefore there is no method for adding, removing, changing item

##### Tuple creation

In [24]:
aa = (1,2,3,4,5)

In [25]:
type(aa)

tuple

In [26]:
bb= [1,2,3,4,5]
tuple(bb)

(1, 2, 3, 4, 5)

In [27]:
cc = (20)
print(type(cc))
dd = (20,)
print(type(dd))

<class 'int'>
<class 'tuple'>

In [28]:
tuple('abc')

('a', 'b', 'c')

In [29]:
list('abcd')

['a', 'b', 'c', 'd']

In [ ]:
del cc # for delete whole tuple

In [30]:
aa[3]

4

In [31]:
aa[3]=5

TypeError: ignored

In [32]:
aa[1:3]

(2, 3)

In [33]:
aa[::-1]

(5, 4, 3, 2, 1)

In [35]:
sorted(aa)  # aa is tuple object and after sorting, return list object

[1, 2, 3, 4, 5]

##### zip

In [37]:
a = list([1,2,3])
b = list([2,3,4])
c = list([4,5,6])

In [39]:
d = zip(a,b,c)
d

##### List comprehension

In [53]:
s= (x*2 for x in range(4))
s

In [45]:
dd = tuple(s)

In [51]:
tuple(s) # it means the generator only for once

()

In [55]:
s.__next__() # point to different item by using pointer

2

In [50]:
dd

(0, 2, 4, 6)

#### dic

> Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered* after python 3.7, changeable and do not allow key duplicates.

In [56]:
a = {'name':'HH','age':32,'job':'DS'}

##### dict creation

{} , dict()

In [59]:
b = dict(name='HH',age=32)

In [60]:
b

{'age': 32, 'name': 'HH'}

In [61]:
c = {}

zip() create dict object

In [62]:
k = ['name','age','job']
v = ['HH','32','DS']
zip(k,v)

#### why it change the order for me ?

In [65]:
d = dict(zip(k,v))
d

{'age': '32', 'job': 'DS', 'name': 'HH'}

fromkeys()

In [67]:
a = dict.fromkeys(['name','age','job'])
a

{'age': None, 'job': None, 'name': None}

##### access dict's item

In [71]:
d

{'age': '32', 'job': 'DS', 'name': 'HH'}

by [key], if key is not exist, throw error, therefore, we use get() ,if get(key) is not exist, it will return None

In [72]:
d['name']

'HH'

In [73]:
d['names']

KeyError: ignored

In [74]:
d.get('name')

'HH'

In [76]:
d.get('names') # return None

In [77]:
d.get('names','handsome man') # if key is not existing, return the 'handsome man'

'handsome man'

loop items

In [78]:
d.items()  # return one list contains different tuple

dict_items([('name', 'HH'), ('age', '32'), ('job', 'DS')])

In [79]:
d.keys()

dict_keys(['name', 'age', 'job'])

In [80]:
d.values()

dict_values(['HH', '32', 'DS'])

In [81]:
len(d) # count how many pairs existing

3

In [82]:
'name' in d

True

In [83]:
'32' in d.values()

True

#### what is None in python

> Indented block

##### add, modify, del item from dict

In [85]:
d['address']='FJ' # if key existing , update, if key dont existing, add item

In [86]:
d

{'address': 'FJ', 'age': '32', 'job': 'DS', 'name': 'HH'}

In [87]:
import sys
sys.version

'3.7.13 (default, Apr 24 2022, 01:04:09) \n[GCC 7.5.0]'

update() : if there is two dict
a. update(b) if key is same, update, if key is different, will add item

In [91]:
g = {'name':'HHH','eduction':'Master','habbit':'mm'}

In [92]:
d.update(g)
d

{'address': 'FJ',
 'age': '32',
 'eduction': 'Master',
 'habbit': 'mm',
 'job': 'DS',
 'name': 'HHH'}

##### del

In [94]:
#del()
del(d['age'])

In [95]:
d

{'address': 'FJ',
 'eduction': 'Master',
 'habbit': 'mm',
 'job': 'DS',
 'name': 'HHH'}

In [96]:
b = d.pop("name")
b

'HHH'

In [98]:
d.clear()
d

{}

In [ ]:
popitem() #randomly remove one pair, no need to get key firstly

##### sequence unpacking

In [100]:
 s = {'name':'HH','age':'32','job':'DS'}

In [106]:
name,age,job = s # for key
age

'age'

In [105]:
name,age,job=s.items() #for item
age

('age', '32')

In [104]:
name,age,job = s.values() #for value
age

'32'

##### use list & dict to represent table

In [109]:
d1= {'name':'HH','age':'32'}
d2= {'name':'QQ','age':'32'}
d3= {'name':'LL','age':'32'}
tb = [d1,d2,d3]

In [110]:
tb[1].get('name')

'QQ'

##### dict： underlying principle

>  dict object 的核心是散列表。 散列表是一个稀疏数组。  unit of 数组叫： bucket
bucket = reference of key object + reference of value object


> problem： how  key value related to index

how to put the pairs into dict

In [112]:
a = {} 
a['name'] ='HH'

In [114]:
hash('name')   #step 1: convert key to hash value 
bin(hash('name'))  # step2: convert hash value to binary
#step3 ， take 3 digit from right to left， eg： 000-》 index 0m check whether the bucket is empty
#step4: if 2/3 of  was taken, extend..

'-0b1011011100111000001101010000000111011001000100000010111000'

how to find the pair based on the key value

In [115]:
  a

{'name': 'HH'}

In [116]:
a.get('name')

'HH'

In [ ]:
hash("name")  # step1: calculate the hashvalue for name 
bin(hash("name")) # step2: make the binary for the hash value 
#step3: using the 3 digit from right to left to match the index of hashtable 
#step4: iterate

Caution: dont modify the dict when you loop dict

#### set


> the underlying principle of set is dict. all the items in set is the key object in dict. therefore, the item in set is unique and not duplicate

In [117]:
a = {3,5,7}
type(a)

set

In [122]:
a.add(3)
a

{3, 5, 7}

In [123]:
a.remove(3)
a

{5, 7}

##### set for 并集& 交集 。。。

In [126]:
a = {1,3,'txt'}
b = {'he','is','txt'}

In [127]:
a|b

{1, 3, 'he', 'is', 'txt'}

In [128]:
a & b

{'txt'}

In [129]:
a.union(b)

{1, 3, 'he', 'is', 'txt'}

In [130]:
a-b

{1, 3}

## statement

### select statement

In [132]:
a= input('please fill a number')
if int(a) >0:
  print('this number is greater than 0 ')

please fill a number3
this number is greater than 0

In [133]:
a= input('please fill a number:')
if int(a) >0:
  print('this number is greater than 0 ')
else:
  print('this number is less than 0 or not number')

please fill a number:-3
this number is less than 0 or not number

#### Ternary Conditional Operator 三元条件运算符


> value for true if (expression) else value for false

In [134]:
a= input('please fill a number:')
'greater than 0' if int(a)>0 else 'less than 0'

please fill a number:4

'greater than 0'

#### multi


> if..elif..elif..else

### loop statement

### while loop 
while expression:
  statement

In [136]:
num = 0 
while num<=10:
  print(num)
  num +=1

0
1
2
3
4
5
6
7
8
9
10

sum up all from 1-100

In [137]:
num = 0
sum_all = 0
while num<=100: 
  sum_all +=num
  num+=1
print(sum_all)

5050

#### For loop


> for i in iteration object: 
statement


> iteration object: 1. sequence
2. dict 3. iterator 4. generator

range object

In [1]:
#range object 
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

P58

In [6]:
for x in range(6):
  for y in range(5):
    print(x,y,end='\t')
  print()

0 0	0 1	0 2	0 3	0 4
1 0	1 1	1 2	1 3	1 4
2 0	2 1	2 2	2 3	2 4
3 0	3 1	3 2	3 3	3 4
4 0	4 1	4 2	4 3	4 4
5 0	5 1	5 2	5 3	5 4


Ninety-nine multiplication table

In [11]:
for i in range(1,10):
  for j in range(1,i+1): # i+1, limit the max num of second value
    print("{0} * {1} = {2}".format(i,j,(i*j)),end ='\t' )
  print()

1 * 1 = 1
2 * 1 = 2	2 * 2 = 4
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [12]:
d1={'name':'HH','age':32,'salary':'8000'}
d2={'name':'QQ','age':32,'salary':'8000'}
d3={'name':'LL','age':32,'salary':'8000'}

tb = list([d1,d2,d3])

In [16]:
for x in tb:
  if int(x.get("salary"))>5000:
    print(x)

{'name': 'HH', 'age': 32, 'salary': '8000'}
{'name': 'QQ', 'age': 32, 'salary': '8000'}
{'name': 'LL', 'age': 32, 'salary': '8000'}

##### break, continue,else
*else in python

for i in iteration:
    for statement
eles:
    statement




> after for statement, the statement in else will be excute; if break in for statement, the else won't be excuted

##### the trick to optimize loop 


> 1. in the nested loop, reduce the inside loop, the O(n*n) for this. inside loop will be increase n time. 
2.

In [21]:
import time 
start = time.time()
for i in range(10000):
  result=[]
  for m in range(10000):
    result.append(i*1000+m*100)

end= time.time()
print("time used: {0}".format((end-start)))

time used: 26.226325035095215

In [20]:
start = time.time()
for i in range(10000):
  result=[]
  c = i *1000
  for m in range(10000):
    result.append(c+m*100)

end= time.time()
print("time used: {0}".format((end-start)))

time used: 20.99626135826111

##### other optimization



1.   connect string, use join() not "+" because of creating new obejct 
2.   add or remove item into list. should add or remove the last item of list

##### use zip() to iterate mulitple iteration object 



> if items count: 4,4, 3

In [23]:
name = ('HH','QQ','LL')
ages = (25,34,35)
jobs = ('SE','DS','CC','AA')

In [24]:
for n,a,j in zip(name,ages,jobs):
  print("{0}--{1}--{2}".format(n,a,j))

HH--25--SE
QQ--34--DS
LL--35--CC

##### list comprehension


> [ expression for item in iteration object]

> [ expression for item in iteration object if if statement]

In [27]:
 num = [x for x in range(10) if x > 5]
 num

[6, 7, 8, 9]

In [30]:
num2 = [(x,y) for x in range(10) for y in range(10)]
num2

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

##### dict comprehension
{key_expression:value_expression for expression in iteration

In [39]:
num3 = {x:y for x in range(3) for y in range(3)}
num3

{0: 2, 1: 2, 2: 2}

In [34]:
my_text = 'i love you , i love txt, i love hh'
char_count = {c:my_text.count(c) for c in my_text}

In [35]:
char_count

{' ': 9,
 ',': 2,
 'e': 3,
 'h': 2,
 'i': 3,
 'l': 3,
 'o': 4,
 't': 2,
 'u': 1,
 'v': 3,
 'x': 1,
 'y': 1}

In [41]:
num5 = {num:num*num for num in range(4)}
num5

{0: 0, 1: 1, 2: 4, 3: 9}

##### Set comprehension

In [47]:
num6 = {x for x in range (1,100) if x%2 == 0}
num6

{2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98}

##### there is no comprehension for tuple

### Function


> def FuctionName([Parameter]):
      '''document'''
      Function Statement
      return

In [48]:
def calculateNum(a,b):
  c= a + b
  return c

In [50]:
c = calculateNum(1,2) # create function object and refer to varibale
c

3

In [54]:
type(calculateNum(1,2))

int

In [58]:
def test01():
  print('test')

In [59]:
print(type(test01()))

test
<class 'NoneType'>

In [60]:
print(id(test01()))

test
11125344

#### parameter & argument


> A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called

#### return


1.   return value
2.   return nono if no return
3.   return mulitple value, use list, dict, set or tuple

#### underlying principle of Function
stack & heap：

> when function, the function object will be stroed in heap and create reference stored in stack(where the variable is)

#### global varibale & local variable 


> if you want to change the global variable in function, you can use global to declare


> if you use the same name for local variable as global in function. the python will directly ignore the global varibale

In [68]:
c= 100
def test_global():
  c=300
  print(c)
test_global()
print(c)

300
100

In [63]:
a = 100 
def change_global():
  global a
  print(a)
  a = 300

change_global()
print("after change in function")
print(a)

100
after change in function
300

##### stack frame


> when we call the function, python will create one stack frame to store the local variable, and after calling, it will be remove immediately.

##### the efficiency of local variable and global variable


> when time of loop is many and need efficiecny, better use local varibale, because the retrieve and access to local variable is faster

#### passing parameter


> the passing of parameter is reference passing.

##### for changable object 


> dict, list,set, and defined object

impact the object

In [69]:
b = [10,20]
def test_pass(m):  # give the the reference of list to m （m is inside the stack frame) 
  print("m:",id(m)) # b, m is pointint to same object
  m.append(30) # beacause of the changable object, directly change this object 

test_pass(b)
print("b:",id(b))
print(b)

m: 140369943634400
b: 140369943634400
[10, 20, 30]

##### for unchangable object 


> string, tuple, number and function
crate new object, and give the new value to it.

In [70]:
a = 100 
def test_unchangable(n):
  print("n:",id(n)) # pass parameter is reference of a object  = n 
  n = n +200   # because a is unchangable, therefore, create new object n
  print("n:",id(n))  # the address of n is changed
  print(n)
test_unchangable(a)
print("a:",id(a))

n: 11259232
n: 140369943783792
300
a: 11259232

##### copy & deepcopy 


> copy: not copy the content of object, only copy the reference of object 
> deppcopy: will copy the content of object, if you change the object, it will not impact the original object 
> for unchangable object, it will use the copy

object 1 >>> object 2 >>> object 3 
> copy only copy object 1 
> deepcopy will copy all the objects

In [74]:
import copy

a = [10,20,[5,6]]
b = copy.copy(a)

print("a:",a)

print("b:",b)
b.append(30)
b[2].append(7)
print('only copy...')
print("a:",a)

print("b:",b)

a: [10, 20, [5, 6]]
b: [10, 20, [5, 6]]
only copy...
a: [10, 20, [5, 6, 7]]
b: [10, 20, [5, 6, 7], 30]

In [75]:
import copy

a = [10,20,[5,6]]
b = copy.deepcopy(a)

print("a:",a)

print("b:",b)
b.append(30)
b[2].append(7)
print('deep copy...')
print("a:",a)

print("b:",b)

a: [10, 20, [5, 6]]
b: [10, 20, [5, 6]]
deep copy...
a: [10, 20, [5, 6]]
b: [10, 20, [5, 6, 7], 30]

#### the types of parameter


1.   parameter match by position
2.   default parameter def (a, b=10,c=30)
3.   key parameter def( c=10, b = 5,a=8) even though you didnt match the position
4.   Fun With *args and **kwargs

fun with args and *kwarg
>*param: put multiple param into tuple object
>** param: put multiple param into dict object

In [77]:
def test_args(a,b,*c):
  print(a,b,c)

In [78]:
test_args(1,2,3,4)

1 2 (3, 4)

In [79]:
def test_kargs(a,b,**c):
  print(a,b,c)

In [82]:
test_kargs(1,2,name='hh',age=18)

1 2 {'name': 'hh', 'age': 18}

In [83]:
def test_arg_kargs(a,b,*c,**d):
  print(a,b,c,d)

In [84]:
test_arg_kargs(1,2,3,4,name='hh',age=18)

1 2 (3, 4) {'name': 'hh', 'age': 18}

after the args/kargs,  should use key parameter

In [85]:
def test01(*c,a,b):
  print(a,b,c)

In [86]:
test01(1,2,3)

TypeError: ignored

In [88]:
test01(1,a=3,b=4)

3 4 (1,)

#### Lambda expression and anonymous function
lambda arg1,arg2,arg3...: expression

In [89]:
f= lambda a,b,c : a+b+c

In [90]:
 print(f)

<function <lambda> at 0x7faa6c9ae9e0>

In [91]:
print(f(2,3,4))

9

#### eval() 
> eval(source[,global[,local]]): run the python code which is in string type
1. global: dictionary type
2. source: python expression or object from function compile()

In [93]:
eval("print('abcde')")

abcde

In [95]:
s= '''print('abcde')'''

In [96]:
eval(s)

abcde

In [97]:
dict1 = dict(a=100,b=200)
d = eval("a+b",dict1)
print(d)

300

### recursive function
> calling itself in function

1. stop condition
2. the step of recursive

In [98]:
def test_recursive(n):
  print("test_recursive:",n)
  if n==0:
    print("over")
  else:
    test_recursive(n-1)

In [99]:
test_recursive(5)

test_recursive: 5
test_recursive: 4
test_recursive: 3
test_recursive: 2
test_recursive: 1
test_recursive: 0
over

In [115]:
def test_recursive1(n):
  print("test_recursive:",n)
  if n==0:
    print("over")
  else:
    test_recursive1(n-1)
  print("t*****",n)

In [116]:
test_recursive1(4)

test_recursive: 4
test_recursive: 3
test_recursive: 2
test_recursive: 1
test_recursive: 0
over
t***** 0
t***** 1
t***** 2
t***** 3
t***** 4

In [111]:
def test01(n):
  print("test01:",n)
  if n==0:
    print("over")
  else:
    test01(n-1)
  print("test01***",n)

In [112]:
test01(4)

test01: 4
test01: 3
test01: 2
test01: 1
test01: 0
over
test01*** 0
test01*** 1
test01*** 2
test01*** 3
test01*** 4

In [117]:
# 4! = 4*3*2*1
def factorial(n):
  if n==1:
    return 1
  return n * factorial(n-1)

In [118]:
factorial(4)

24

In [119]:
for i in range(1,6):
  print(i,"!=",factorial(i))

1 != 1
2 != 2
3 != 6
4 != 24
5 != 120

#### nested function
> the function defined in function, only can be call in function, if outside function, it will throw error

#### nonlocal key word
> want to use the variable outside the function

In [120]:
def outer():
  b =10 
  def inner():
    print('inner:',b)
    b = 20 
  inner()
outer()

UnboundLocalError: ignored

In [124]:
def outer():
  b =10 
  def inner():
    nonlocal b 
    print('inner b:',b)
    b = 20 
  inner()
  print("outer b:", b)
outer()

inner b: 10
outer b: 20

#### LEGB Rule

1. local
2. enclosed
3. Global
4. Built in

when python try to find name:

### Object oriented Programming
1. Procedure Oriented: logic steps :operater role 
2. Object Oriented: the relationship between objects: designer role

#### history of oop:
1. simple data
2. array same type of data
3. struct: put the different type of data together
4. oop: differnt type of data + functions

#### defination of class:
class:  tool of cookies
object: cookies
> class = abbtribute + function

In [140]:
class Student:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def say_hello(self):
    print("Say hello: {0}".format(self.name ))

In [141]:
stu1 = Student('HH',32)
stu1.say_hello()

Say hello: HH

#### python object
1. id 
2. type
3. value 
  1. attribute
  2. method

#### create object:
1. __new()__ method: create object: normally, we dont need to define this method
2. __init__() method: initial the object which created. --> initialize means give value to attribute
3. self keyword

In [143]:
s = Student('QQ',33) # return student object ang assign to s variable
s

#### attribute of object 
>self.attribute
>  object().attribute

#### method of object

In [144]:
dir(stu1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name',
 'say_hello']

In [145]:
stu1.__dict__

{'age': 32, 'name': 'HH'}

In [146]:
class Man:
  pass

In [147]:
print(isinstance(stu1,Student))

True

#### type class
> type is a metaclass, of which classes are instances

In [149]:
print(type(Student)) # create type class first , the student class is the instance of type calss

<class 'type'>

#### attribute of class
> class variable, it means all object will have this attribute

In [152]:
class Employee:
  company='NUS'
  count = 0
  def __init__(self,name):
    self.name = name
    Employee.count = Employee.count+1
  def count_employee(self):
    print("my company is :",Employee.company)
    print("Number of employee:",Employee.count)

emp1 >> emp object methed >> emp class
method of object also inside the type class

In [153]:
emp1 = Employee('HH')
emp1.count_employee()

my company is : NUS
Number of employee: 1

In [154]:
emp2 = Employee('QQ')
emp2.count_employee()

my company is : NUS
Number of employee: 2

#### method of class
> use property @classmethod to define
```
@classmethod
def classmethod(cls,[,arg]):
  method statement
```
> when you crate new object of class, the class method wont be created
> method of class is used to manuply the attribute of class

In [155]:
class Employer:
  company = 'NUS'
  @classmethod
  def printCompany(cls):
    print(cls.company)

In [156]:
Employer.printCompany()

NUS

In [157]:
empr = Employer(
empr.printCompany()

SyntaxError: ignored

#### static method
```
@staticmethod
def staticName([]):
  method statement
```
> static method call the object method and object attribute will throw error
> static method: define some method that not related to object 
> using class.staticmethod() to access

In [158]:
class Ceo:
  company = 'NUS'
  @staticmethod
  def add(a,b):
    print("{0}+{1} = {2}".format(a,b,(a+b)))
    return a+b

In [159]:
Ceo.add(1,2)

1+2 = 3

3

#### del() & garb collection

#### __call__


> the object can be used as function


> obj() = __call__(object)

In [2]:
class SalaryAccount:
  def __call__(self,salary):
    print("your salary.....")
    return dict (salary= salary)

In [3]:
s = SalaryAccount()
s(3000)

your salary.....

{'salary': 3000}

#### python dont have overload
> python dont have type for parameter
> if there are multiple method with same name, the last method will be take effect

#### dynamic python

In [5]:
 class Person:
   def work(self):
     print("work hard")

In [6]:
def play_game(s):
  print("{0} play game".format(s))

In [16]:
play_game('hh')

hh play game

In [7]:
p = Person()
p.work()

work hard

In [8]:
p.play_game()

AttributeError: ignored

In [17]:
Person.play = play_game
p.play() #Person.play(p)

<__main__.Person object at 0x7f585f012c10> play game

##### change existing method

In [21]:
def work2(s):
  print("work hard hahaha")
Person.work = work2 
p.work()

work hard hahaha

#### object method:
```
a = Student()
a.say_score()
>>> in interpretor
Student.say_score(a)
```

#### private attribute and method 
> internal can access and manuply
>external can no access if want to access 
```object._Class__Private```

In [54]:
 class Student():
    def __init__(self,name, age ):
      self.name = name
      self.__age = age 
    def showage(self):
      print(self.__age)
    def __study(self):
      print("good good study, day day up")

In [56]:
s = Student('HH',32)
s.name

'HH'

In [32]:
s.age

AttributeError: ignored

In [36]:
s._Student__age

32

In [44]:
s.__study()

AttributeError: ignored

In [47]:
s._Student__study()

good good study, day day up

In [57]:
s.showage()

32

In [ ]:
myDict = {'key' :'key1', 'value' : 'v1'}

#### @property 
> make the method calling become attribute calling
> set the setter & getter to limit attribute

In [58]:
class Employee:
  @property
  def salary(self):
    return 3000

In [60]:
emp1 = Employee()
emp1.salary

3000

In [62]:
class Employer:
  def __init__(self,name,salary):
    self.__name = name
    self.__salary = salary

  def get_salary(self):
    return self.__salary
  
  def set_salry(self,salary):
    if salary>5000:
      self.__salary = salary
    else:
      print('not enough money')

In [66]:
empr = Employer('QQ',6000)
print(empr.get_salary())

6000

In [68]:
empr.set_salry(3000)
empr.set_salry(8000)

not enough money

In [70]:
empr.get_salary()

8000

In [76]:
class EmployerP:
  def __init__(self,name,salary):
    self.__name = name
    self.__salary = salary
  @property
  def salary(self):
    return self.__salary
  @salary.setter
  def salary(self,salary):
    if salary>5000:
      self.__salary = salary
    else:
      print('not enough money')

In [78]:
emp1 = EmployerP('QQ',5000)
emp1.salary

5000

In [80]:
emp1.salary =3000

not enough money

In [81]:
emp1.salary = 9000
emp1.salary

9000

####encapsulation

#### inheritance
> child class have the feature of father class
```
class child(father1, father2..):
  class statement
```
> object class: default father class 
> when you define the chile class, need to call the init function in father class

In [86]:
class Person:
  def __init__(self,name,age):
    self.name = name 
    self.age = age
  def say_hello(self):
    print('Hello')

class Student(Person):
  def __init__(self,name,age,score):
    Person.__init__(self,name,age)
    self.score = score

In [88]:
s = Student('HH',18,3.5)
s.score

3.5

##### private attribute in father class
> child also interited

In [89]:
print(dir(s))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'name', 'say_hello', 'score']

##### class member overwrite

In [90]:
class Person:
  def __init__(self,name,age):
    self.name = name 
    self.age = age
  def say_hello(self):
    print('Hello')

class Student(Person):
  def __init__(self,name,age,score):
    Person.__init__(self,name,age)
    self.score = score
  def say_hello(self):
    print('i say Hello')

In [92]:
s1 = Student('qq',18,5)
s1.say_hello()

i say Hello

#### object class
> mro() or __mro__

In [94]:
class A:pass
class B(A):pass
class C(B):pass

print(C.mro())  # Method Resolution Order

[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]

In [96]:
dir(s) # to check all attribute of object

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name',
 'say_hello',
 'score']

In [97]:
dir(object)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

##### overwrite the method from object class

In [101]:
class Person:
  def __init__(self,name):
    self.name =name
  def __str__(self):
    return "name:{0}".format(self.name)

In [102]:
p = Person('HH')
print(p)

name:HH

#### multiple inheritance for python
> in java, C# not like this, only interface

##### call father class
> super()

In [105]:
class A:
  def say(self):
    print("A:",self)

class B(A):
  def say(self):
    super().say()
    print("B:", self)

In [106]:
B().say()

A: <__main__.B object at 0x7f585ef92390>
B: <__main__.B object at 0x7f585ef92390>

#### polymorphism
> same method have different behavior because of object 
1. only method have polymorphism
2. polymorphism is because interitance and method override

In [109]:
class Animial:
  def say(self):
    print("aa")

class dog(Animial):
  def say(self):
    print("ww")

class cat(Animial):
  def say(self):
    print("mm")

class chicken(Animial):
  def say(self):
    print("gg")

In [110]:
def animailSay(m):
  if isinstance(m,Animial):
    m.say()
  else:
    print("no sound")

In [112]:
animailSay(cat())

mm

In [113]:
animailSay(dog())

ww

In [115]:
animailSay(Animial())

aa

##### object method >>> 
```
c = a+b
c = a.__add__(b)
```

##### special attribute
```
obj.__dict__
obj.__class__
class.__base__
class.__subclasses__()
```

In [116]:
Student.__base__

__main__.Person

In [117]:
Animial.__subclasses__()

[__main__.dog, __main__.cat, __main__.chicken]

#### By Composition(Has-A Relation)
By Inheritance(Is-A Relation)

In [120]:
class A:
  def say_a(self):
    print("a--a--a")

class B:
  def __init__(self,a):
    self.a = a 

a = A()
b = B(a)
b.a.say_a()

a--a--a

### Design Pattern

#### Factory Pattern

In [122]:
class FactoryCar():
  def create_car(self,brand):
    if brand=='benz':
      return Ben()
    elif brand=='byd':
      return BYD()
    elif brand=='BMW':
      return BMW()
    else:
      return "unkown"
class Ben():
  pass
class BYD():
  pass
class BMW():
  pass

In [123]:
factory = FactoryCar()
f1= factory.create_car('benz')
f2 = factory.create_car('byd')
f3 = factory.create_car('BMW')

In [124]:
f1

In [125]:
f2

####Singleton Pattern
> only object can be create 
> __init__(): initial object, give the attribute
>__new__(): create object, it is actually real constructor
1. create class attribute
2. override __new()__ and __init()__

In [133]:
class MySingleton:
  __obj = None   # class attribute
  # create one object and saved in class attribute 
  __init_flag = True
  def __new__(cls,*args, **kwargs):
    if(cls.__obj) == None:
      cls.__obj = object.__new__(cls)
    return cls.__obj
  def __init_(self,name):
    if MySingleton.__init_flag:
      print("init....")
      self.name=names
      MySingleton.__init_flag =False

In [134]:
a = MySingleton("aa")
b = MySingleton("bb")
print(a)
print(b)

<__main__.MySingleton object at 0x7f58567ea210>
<__main__.MySingleton object at 0x7f58567ea210>

#### list slice
list[start:end:step]
contain start but not contain end. index from 0

In [5]:
myList = [1,3,5,7]
myList[1:5:2]

[3, 7]

## Object O Programing

## define class

In [16]:
class Student(object):
  def __init__(self,name,age):
    self.name = name
    self.__age = age
  def study(self,course_name):
    print('%s is studying %s now' %(self.name,course_name))
  def __exam(self):
    print(self.__age)

In [17]:
stu1 = Student('xiaoming',23)
stu1.study('Math')

xiaoming is studying Math now

### accessibility


> if properties is private, there is __ to be begining.

In [18]:
stu1.__exam()

AttributeError: ignored

In [19]:
print(stu1.__age)

AttributeError: ignored

In [21]:
print(stu1._Student__age)

23

In [22]:
stu1._Student__exam()

23

### OOP


> encapsulation,inheritance,polymorphism

#### encapsulation


> we encapsulate the data and the munipulation of data.

### @property

#### inheritance

## Charpter 13 模块


> * 高级的封装: 模块 : 模块就是程序. 保存为.py的文件, 都是一个独立的模块
  * 容器（列表、元组、字符串、字典等），是对数据的封装。
  * 函数，是对语句的封装。
  * 类，是对方法和属性的封装，也就是对函数和数据的封装。

#### 命名空间
命名空间 表示标识符的可见范围. 在python, 每个模块都会维护一个独立的命名空间,应该把模块名加上,才能够正常使用模块中的函数

In [ ]:
import numpy as np # np is namespace
print(np.array([1,2,3]))
array([1,2,3])    # without namespace

[1 2 3]

NameError: ignored

#### 三种导入模块的方法

In [ ]:
# import 模块名字
# from 模块名字 import 函数名
from numpy import * # 不推荐
# import 模块名 as 新名字
import numpy as np

#### 模块的作用与用法


1.   封装组织的python代码
2.   python代码的重用

#### if name = main 的作用
让python 知道该模块是作为程序运行还是导入其他模块中

In [ ]:
if __name__ = '__main__':
  test()
# 如果没有这句, 当这个模块导入时, 其中的函数都会跑一遍.

#### 搜索路径


> 组织中的代码不会放在同一个文件夹中,他会用不同的文件夹来管理. python模块的导入需要一个路径搜索的过程.


> 搜索路径有: sys.path


> 如果你的模块不在这个搜索路径, 你可以把自己模块的位置添加进来
sys.append(path)

In [ ]:
import sys
sys.path

['',
 '/content',
 '/env/python',
 '/usr/lib/python37.zip',
 '/usr/lib/python3.7',
 '/usr/lib/python3.7/lib-dynload',
 '/usr/local/lib/python3.7/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.7/dist-packages/IPython/extensions',
 '/root/.ipython']

#### 包


> 把模块分门别类地存放在不同的文件夹,然后把各个文件夹的位置告诉python


> 步骤:


1.   创建一个文件夹用于存放相关的模块,文件夹的名字即是包的名字
2.   在文件夹中 创建一个 __init_ _.py 的模块文件, 内容可以为空  (用来告诉python 这是包)
3.   将相关的模块放进去

#### python 标准库的模块的属性 


> 怎么看 这个module都有什么


1.   import 模块
2.   _ _doc_ _ 属性来看简介
3.   dir() 函数 查询
4.   _ _all_ _ 属性 
5.   _ _file_ _属性: 表明这个模块的源代码位置
6.   help()

In [ ]:
import timeit
print(timeit.__doc__)

Tool for measuring execution time of small code snippets.

This module avoids a number of common traps for measuring execution
times.  See also Tim Peters' introduction to the Algorithms chapter in
the Python Cookbook, published by O'Reilly.

Library usage: see the Timer class.

Command line usage:
    python timeit.py [-n N] [-r N] [-s S] [-p] [-h] [--] [statement]

Options:
  -n/--number N: how many times to execute 'statement' (default: see below)
  -r/--repeat N: how many times to repeat the timer (default 5)
  -s/--setup S: statement to be executed once initially (default 'pass').
                Execution time of this setup statement is NOT timed.
  -p/--process: use time.process_time() (default is time.perf_counter())
  -v/--verbose: print raw timing results; repeat for more digits precision
  -u/--unit: set the output time unit (nsec, usec, msec, or sec)
  -h/--help: print this usage message and exit
  --: separate options from statement, use when statement starts with -
  statement: statement to be timed (default 'pass')

A multi-line statement may be given by specifying each line as a
separate argument; indented lines are possible by enclosing an
argument in quotes and using leading spaces.  Multiple -s options are
treated similarly.

If -n is not given, a suitable number of loops is calculated by trying
increasing numbers from the sequence 1, 2, 5, 10, 20, 50, ... until the
total time is at least 0.2 seconds.

Note: there is a certain baseline overhead associated with executing a
pass statement.  It differs between versions.  The code here doesn't try
to hide it, but you should be aware of it.  The baseline overhead can be
measured by invoking the program without arguments.

Classes:

    Timer

Functions:

    timeit(string, string) -> float
    repeat(string, string) -> list
    default_timer() -> float

In [ ]:
dir(timeit)

['Timer',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_globals',
 'default_number',
 'default_repeat',
 'default_timer',
 'dummy_src_name',
 'gc',
 'itertools',
 'main',
 'reindent',
 'repeat',
 'sys',
 'template',
 'time',
 'timeit']

In [ ]:
timeit.__all__  # 可以获取可供调用接口的信息

['Timer', 'timeit', 'repeat', 'default_timer']